:root {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
}
.main {
  background-image: linear-gradient(
    to right,
    rgb(245, 240, 240),
    rgb(245, 245, 231)
  );
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
h2,
p {
  font-size: 2.5rem;
  padding: 0;
  margin: 5px;
}
button {
  background-color: white;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid red;
}
.main div:nth-child(3) {
  color: rgb(55, 34, 173);
  display: flex;
  align-items: center;
  justify-content: center;
}
.savePreviousData {
  font-size: 1.5rem;
  width: 100px;
}
